.mainComponent {
  display: flex;
  flex-direction: row;
}

.containerOfList {
  overflow-y: auto;
  height: 500px;
}

.selectedUserComponent {
  margin-left: 40px;
  margin-top: 3%;
}

.createUserComponent {
  margin-left: 40px;
  margin-top: 3%;
}

.bodyOfItemOfList {
  display: flex;
  flex-direction: column;
}
.bodyOfItemOfList > button {
  margin-top: 2%;
}

.headerOfItem {
  padding-top: 5px;
  padding-bottom: 5px;
}

.selectedUser {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.createUser {
  display: flex;
  flex-direction: column;
}

.textInList {
  white-space: pre-line;
}

.createButton {
  width: 80%;
  margin-top: 10px;
  margin-left: 10%;
}

.listOfUsers {
  margin-bottom: 1%;
}

.containerOfList {
  margin-top: 3%;
}

.journalOfUser {
  min-height: 500px;
  margin-top: 3%;
  margin-left: 2%;
}

.matCardForJournal {
  overflow-y: auto;
  height: 100%;
  min-height: 93.5%;
  max-height: 100px;
}
