<div class="mainComponent">
  <div class="containerOfList">
      <mat-expansion-panel *ngFor="let user of allUsers" class="listOfUsers" (click)="selectUser(user)">
        <mat-expansion-panel-header class="headerOfItem">
          <mat-panel-title class="titleOfItem">
            <div>
              логин:{{user.login}}
              <br/>
              имя:{{user.name}}
              <br/>
              фамилия:{{user.surname}}
              <br/>
            </div>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="bodyOfItemOfList">
          <button mat-raised-button (click)="showHistoryOfUser(user.id)">Посмотреть историю</button>
          <button mat-raised-button (click)="lockBalance(user.id,true)">Заблокировать баланс</button>
          <button mat-raised-button (click)="lockBalance(user.id,false)">Разблокировать баланс</button>
        </div>
      </mat-expansion-panel>
  </div>
  <mat-card class="selectedUserComponent">
    <div class="selectedUser">
      <div> Выбранный пользователь</div>
      <mat-form-field>
        <input matInput required [(ngModel)]="selectedUser.login" placeholder="Введите логин пользователя">
      </mat-form-field>
      <mat-form-field>
        <input matInput required [(ngModel)]="selectedUser.name" placeholder="Введите имя пользователя">
      </mat-form-field>
      <mat-form-field>
        <input matInput required [(ngModel)]="selectedUser.surname" placeholder="Введите фамилию пользователя">
      </mat-form-field>
      <mat-form-field>
        <input matInput required [(ngModel)]="selectedUser.lastname" placeholder="Введите отчество пользователя">
      </mat-form-field>
      <mat-form-field>
        <input matInput required [matDatepicker]="_selectedDate" [(ngModel)]="selectedUser.dob"
               placeholder="Введите дату рождения">
        <mat-datepicker-toggle matSuffix [for]="_selectedDate"></mat-datepicker-toggle>
        <mat-datepicker #_selectedDate></mat-datepicker>
      </mat-form-field>
    </div>
    <button mat-raised-button (click)="updateUser(selectedUser)"> сохранить</button>
    <button mat-raised-button (click)="deleteUser(selectedUser.id)"> удалить</button>
  </mat-card>
  <mat-card class="createUserComponent">
    <div class="createUser">
      <div>Создать нового пользователя</div>
      <mat-form-field>
        <input matInput required [(ngModel)]="createUser.login" placeholder="Введите логин пользователя">
      </mat-form-field>
      <mat-form-field>
        <input matInput required [(ngModel)]="createUser.name" placeholder="Введите имя пользователя">
      </mat-form-field>
      <mat-form-field>
        <input matInput required [(ngModel)]="createUser.surname" placeholder="Введите фамилию пользователя">
      </mat-form-field>
      <mat-form-field>
        <input matInput required [(ngModel)]="createUser.lastname" placeholder="Введите отчество пользователя">
      </mat-form-field>
      <mat-form-field>
        <input matInput required [(ngModel)]="createUser.password" placeholder="Введите пароль пользователя">
      </mat-form-field>
      <mat-form-field>
        <input matInput required [matDatepicker]="picker" [(ngModel)]="createUser.dob"
               placeholder="Введите дату рождения">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <button mat-raised-button class="createButton" (click)="createUserFunc(createUser)">создать</button>
  </mat-card>

  <div  class="journalOfUser" >
    <mat-list *ngFor="let record of journal">
      <div>Откуда: {{record.fromBalance}}</div>
      <div>Куда: {{record.toBalance}}</div>
      <div>Cумма: {{record.journal.money}}</div>
      <div>Время: {{record.journal.time | date: 'short'}}</div>
      <div>Комментарий: {{record.journal.transferText}}</div>
    </mat-list>
  </div>
</div>
