.mainComponent {
  display: flex;
  flex-direction: row;
}

.selectedUserComponent {
  margin-left: 40px;
  margin-top: 3%;
}

.createUserComponent {
  margin-left: 40px;
  margin-top: 3%;
}

.bodyOfItemOfList {
  display: flex;
  flex-direction: column;
}

.headerOfItem {
  padding-top: 5px;
  padding-bottom: 5px;
}

.selectedUser {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.createUser {
  display: flex;
  flex-direction: column;
}

.textInList {
  white-space: pre-line;
}

.createButton {
  width: 80%;
  margin-top: 10px;
  margin-left: 10%;
}

.scrollable {
  overflow-y: auto;
  height: 100%;
}
.listOfUsers{
  margin-bottom: 1%;
}
.containerOfList{
  margin-top: 3%;
}
