.mainComponent {
  display: flex;
  flex-direction: row;
}

.selectedUserComponent {
  margin-left: 40px;
  margin-top: 3%;
}

.createUserComponent {
  margin-left: 40px;
  margin-top: 3%;
}

* > .mat-list .mat-list-item .mat-list-item-content,
.mat-list .mat-list-option .mat-list-item-content,
.mat-nav-list .mat-list-item .mat-list-item-content,
.mat-nav-list .mat-list-option .mat-list-item-content,
.mat-selection-list .mat-list-item .mat-list-item-content,
.mat-selection-list .mat-list-option .mat-list-item-content {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.selectedUser {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.createUser {
  display: flex;
  flex-direction: column;
}

.textInList {
  white-space: pre-line;
}

.createButton {
  width: 80%;
  margin-top: 10px;
  margin-left: 10%;
}
