.createUserComponent {
  margin-left: 40px;
  margin-top: 3%;
  max-width: 40%;
}


.createUser {
  display: flex;
  flex-direction: column;
}

.createButton {
  width: 80%;
  margin-top: 10px;
  margin-left: 10%;
  padding-bottom: 5px;
  padding-top: 5px;
}
