<mat-toolbar class="navigate">
  <div [hidden]="authenticated()"  class="login">
    <a mat-button [routerLink]="'/login'">
      Войти
    </a>
  </div>
  <div [hidden]="authenticated()">
    <a mat-button [routerLink]="'/registration'">
      зарегестрироваться
    </a>
  </div>
  <div [hidden]="!authenticated()">
    <a mat-button [routerLink]="'/users'">
      пользователи
    </a>
  </div>
  <div [hidden]="!authenticated()">
    <a mat-button [routerLink]="'/balance'">
      баланс
    </a>
  </div>
  <div >
    <a mat-button [routerLink]="'/payment'">
      платежи
    </a>
  </div>
  <div [hidden]="!authenticated()" class="logout">
    <a mat-button (click)="logout()">
      выйти
    </a>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
