<mat-toolbar class="navigate" >
  <div *ngIf="!currentUser"  class="login">
    <a mat-button [routerLink]="'/login'">
      Войти
    </a>
  </div>
  <div *ngIf="!currentUser">
    <a mat-button [routerLink]="'/registration'">
      зарегестрироваться
    </a>
  </div>
  <div *ngIf="currentUser&&roleAccess()">
    <a mat-button [routerLink]="'/users'">
      пользователи
    </a>
  </div>
  <div *ngIf="currentUser">
    <a mat-button [routerLink]="'/balance'">
      баланс
    </a>
  </div>
  <div >
    <a mat-button [routerLink]="'/payment'">
      платежи
    </a>
  </div>
  <div *ngIf="currentUser" class="logout">
    <a mat-button (click)="logout()">
      выйти
    </a>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
