.withdrawToBalance{
  max-width: 35%;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.withdrawToCard{
  max-width: 35%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 10px;
}
.text{
  text-align: center;
}
