.window {
  width: 70%;
  display: flex;
  flex-direction: row;
}

.listPaymentOfCompany {
  text-align: left;
}

.payment {
  display: flex;
  flex-direction: column;
}

.payment > div {
  display: flex;
  flex-direction: column;
}
.paymentBalanceButton{
  width: 100%;
}
.paymentCard{
  margin-top: 10px;
}
.PaymentBalanceAndCard{
  margin-top: 10px;
}

